# unused: SEARCHSECO_CONTROLLER_GIT_REPO="https://github.com/SecureSECO/SearchSECOController.git"
# unused: SEARCHSECO_CONTROLLER_GIT_BRANCH="master"
SEARCHSECO_CONTROLLER_IMAGE="searchseco/controller:latest"

SECURESECO_PORTAL_GIT_REPO="https://github.com/SecureSECO/SecureSECO-Portal.git"
SECURESECO_PORTAL_GIT_BRANCH="master"
SECURESECO_PORTAL_IMAGE="secureseco/secureseco-portal:latest"

TRUSTSECO_DLT_GIT_REPO="https://github.com/SecureSECO/TrustSECO-DLT.git"
TRUSTSECO_DLT_GIT_BRANCH="development"

TRUSTSECO_SPIDER_GIT_REPO="https://github.com/SecureSECO/TrustSECO-Spider.git"
TRUSTSECO_SPIDER_GIT_BRANCH="main"

# PUBLIC or PRIVATE, determines what routes are available to which users
SERVER_TYPE="PRIVATE"

# To host publicly/ use the caddy proxy set/uncomment the following variables:
# HOST="www.example.com" # sets the host name for the caddy proxy
# VITE_HOST="www.example.com" # Host name the UI uses to reach the api, usually the same as hostname
# VITE_PROTOCOL="http" # Protocol used by the frontend to reach the server, should be http or https
# COMPOSE_PROFILES="hosting" # enables the caddy proxy image

# Not required as these settings can also be set using the portal ui
# ENABLE_SPIDER="true"
# ENABLE_AUTO_CRAWLER="true"
# GITHUB_TOKEN="ghp_ACBDEFGHIJKLMNOPQRS"
# LIBRARIESIO_TOKEN="0123456789abcdef"
# GH_USERNAME="johndoe"
